body,
html {
  overflow-x: hidden;
  font-family: 'Helvetica';
  &.overflow {
    overflow: hidden !important;
  }
}

body {
  @include flex;
  @include dir-col;
  @include justify-between;
  min-height: 100vh;
  background: #FAF8F3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
  &:focus {
    outline: none;
    border: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.wrapper {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.select-wrap {
  position: relative;
  min-width: 55px;
  select {
    display: none;
  }

  .select2 {
    position: relative;
    width: 100% !important;
    height: 100%;

    .selection {
      width: 100%;
    }
  }

  .select2-container--default .select2-selection--single {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 0;
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    padding: 0;
    font-weight: normal;
    color: #000;
    padding: 10px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .select2-selection__arrow {
    width: 7px !important;
    height: 5px !important;
    top: 50% !important;
    right: 5px !important;
    transform: translateY(-50%);
    z-index: 1 !important;
    background-color: transparent;

    b {
      background: url(../img/select-arr.svg) no-repeat center center;
      width: 7px !important;
      height: 5px !important;
      border: none !important;
      transition: 0.2s;
      margin-top: -3px !important;
    }
  }

  .select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    transform: rotate(180deg);

  }
}

.select2-dropdown {
  border: none !important;
  font-size: 14px !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background: white;
  color: #141414;
  font-size: 14px !important;
  font-weight: 400;
  transition: 0s;
}

.select2-container--default .select2-results__option--highlighted {
  color: #141414;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  font-size: 14px;
  background: transparent;
  font-weight: 400;
  color: #0E6131;
  transition: 0.3s;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
  transition: 0s;
}

.select2-results__options {
  border: none;
  max-height: 200px !important;
  overflow-y: auto;
  background: white;
  border-radius: 10px;
  padding: 15px 0;
  transition: 0s;
  min-width: 100%;
  width: max-content;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0E6131;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-button {
    background: #fff;
    display: none;
  }
}

.select2-results__option {
  font-size: 14px;
  background: transparent;
  white-space: nowrap;
  @include flex;
  @include align-center;

  padding: 0 15px !important;
  margin-bottom: 10px;
  transition: 0s;
  > span {
    @include justify-between;
    width: 100%;
    .apply-data-btn {
      color: #CA9D75;
    }
  }
  &:last-child {
    margin-bottom: 0;
    border: none;
  }

  > span {
    @include flex;
    @include align-center;

    img {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      margin-bottom: 3px;
    }
  }
}

.select2-search--dropdown {
  border: none;
}

.select2-search {
  display: none;
}

.select2-results__option {
  font-weight: 400;
  padding: 0 15px;
  color: #4f4f4f;
  font-size: 14px;
  transition: 0s;
}

.drop-menu {
  @include dir-col;
  @include justify-center;
  cursor: pointer;
  display: none;

  @media(max-width: 1024px) {
      @include flex;
      margin-left: 10px;
  }

  .line {
      width: 30px;
      height: 2px;
      background-color: #000;
      display: block;
      margin: 3px auto;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

  }
}

.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}


.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}