@import "mixins";
@import "global";
@import "fonts";



.header{
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: .3s;
  .wrapper{
    max-width: 1110px;
    .header-info{
      @include flex;
      @include align-center;
      padding: 12px 20px;
      background: #D9D9D9;
      border-radius: 6px;
    }
    .logo{
      @include flex;
      margin-right: 10px;
      @media(max-width: 1500px){
       width: 120px;
       img{
        width: 100%;
       }
      }
    }
    .select-wrap{
      margin: 0 24px;
      @media(max-width: 1024px){
        margin: 0 12px;
       }
       @media(max-width: 767px){
        margin: 0;
        margin-right: 10px;
        margin-left: auto;
       }
    }
    .city{
      @include flex;
      @include align-center;
      font-size: 14px;
      color: #000;
      @media(max-width: 1024px){
        display: none;
       }
      img{
        margin-right: 5px;
        margin-top: 2px;
      }
    }
    .order-call-btn{
      padding: 4px 16px 6px;
      @include flex;
      @include align-center;
      background: #0E6131;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      border-radius: 40px;
      margin-left: auto;
      @media(max-width: 767px){
       display: none;
       }
       &:hover{
        background: lighten(#0E6131, 8%);
       }
      img{
        margin-right: 10px;
        width: 20px;
      }
    }
    .main-menu{
      @include flex;
      margin-top: -4px;
       @media(max-width: 1024px){
        position: absolute;
        top: 98%;
        left: 15px;
        overflow-y: auto;
        z-index: 100;
        background: #D9D9D9;
        width: calc(100% - 30px);
        height: 100vh;
        padding: 20px;
        @include dir-col;
        justify-content: flex-start;
        transform: scale(0);
        transition: .3s;
        &.open{
          transform: scale(1);
        }
       }
      li{
        margin-left: 30px;
        @media(max-width: 1024px){
          margin-bottom: 20px;
          margin-left: 0;
         }
        a{
          font-size: 14px;
          color: black;
          @media(max-width: 1024px){
            font-size: 18px;
           }
          &:hover{
            color: #0E6131;
          }
        }
      }
    }
  }
}

.banner{
  background: url(../img/banner-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 140px 0;
  @media(max-width: 767px){
    padding-top: 100px;
    padding-bottom: 120px;
    }
  .wrapper{
    max-width: 1110px;
  }
  .big-logo{
    margin-bottom: 62px;
    @media(max-width: 1024px){
      margin-bottom: 50px;
      max-width: 400px;
     }
     @media(max-width: 767px){
      width: 100%;
      max-width: 270px;
      margin-bottom: 20px;
      }
  }
  span{
    font-size: 20px;
    color: white;
    display: block;
    margin-bottom: 2px;
    font-weight: normal;
    @media(max-width: 767px){
      font-size: 18px;
      }
  }
  b{
    display: block;
    color: white;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Coolvetica', sans-serif;
    margin-bottom: 60px;
    max-width: 230px;
    line-height: 110%;
    @media(max-width: 767px){
      margin-bottom: 40px;
      font-size: 34px;
      max-width: 130px;
      }
  }
  .green-btn{
    padding: 24px 28px;
    border-radius: 40px;
    color: white;
    font-size: 28px;
    font-weight: 300;
    font-weight: normal;
    background: #06a18f;
    @media(max-width: 1024px){
      font-size: 24px;
     }
     @media(max-width: 767px){
      font-size: 18px;
      padding: 16px 22px;
      }
    &:hover{
      background: darken(#06a18f, 5%);
    }
  }
}

.bottom-section{
  padding-top: 200px;
  background: url(../img/footer-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  @media(max-width: 1300px){
    padding-top: 0;
   }
   > .wrapper{
    @media(max-width: 767px){
      padding: 0;
     }
   }
  .request{
    background: url(../img/request-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 30px 750px;
    border-radius: 12px;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto -700px;
    text-align: center;
    @media(max-width: 1600px){
      padding-bottom: 900px;
      margin-bottom: -850px;
    }
    @media(max-width: 1024px){
      padding-top: 100px;
     }
     @media(max-width: 767px){
      border-radius: 0;
      margin-bottom: -250px;
      padding-bottom: 310px;
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
     }
    .request-logo{
      max-width: 345px;
      width: 100%;
      margin: 0 auto 100px;
      @media(max-width: 1600px){
        margin-bottom: 60px;
      }
      @media(max-width: 1024px){
        margin-bottom: 40px;
        max-width: 300px;
       }
       @media(max-width: 767px){
       max-width: 250px;
       margin-bottom: 20px;
       }
    }
    h2{
      text-align: center;
      font-size: 100px;
      font-weight: 600;
      margin-bottom: 70px;
      color: white;
      font-family: 'Coolvetica', sans-serif;
      @media(max-width: 1600px){
       margin-bottom: 50px;
       font-size: 80px;
      }
      @media(max-width: 1024px){
        font-size: 54px;
       }
       @media(max-width: 767px){
        font-size: 32px;
        margin-bottom: 30px;
       }
    }
    form{
      max-width: 920px;
      width: 100%;
      margin: 0 auto;
      @media(max-width: 1024px){
        max-width: 520px;
       }
      input{
        width: 100%;
        height: 110px;
        border-radius: 50px;
        text-align: center;
        background: #9AE0F2;
        font-size: 38px;
        color: white;
        padding: 0 20px;
        margin-bottom: 40px;
        @include placeholder{
          color: white;
        }
        @media(max-width: 1600px){
          font-size: 32px;
          height: 90px;
        }
        @media(max-width: 1024px){
          font-size: 24px;
          height: 70px;
          margin-bottom: 20px;
         }
         @media(max-width: 767px){
          height: 64px;
          font-size: 20px;
         }
      }
      button{
        background: #0a3e4b;
        padding: 40px;
        color: white;
        border-radius: 100px;
        font-size: 38px;
        max-width: 520px;
        width: 100%;
        margin: 0 auto;
        &:hover{
          background: lighten(#0a3e4b, 6%);
        }
        @media(max-width: 1600px){
          font-size: 32px;
        }
        @media(max-width: 1024px){
          font-size: 24px;
          padding: 20px 30px;
         }
         @media(max-width: 767px){
          font-size: 20px;
         }
      }
    }
  }
}

.footer{
  position: relative;
  z-index: 0;
  .wrapper{
    position: relative;
    z-index: 0;
    max-width: 90%;
    @media(max-width: 1024px){
     width: 100%;
    }
    @media(max-width: 767px){
     padding: 0;
     }
    .footer-info{
      position: absolute;
      bottom: 100px;
      left: 0;
      width: 100%;
      @include flex;
      align-items: center;
      @media(max-width: 1600px){
        flex-direction: column;
      }
      @media(max-width: 1024px){
        bottom: 50px;
       }
       @media(max-width: 767px){
        bottom: 20px;
       }
      .logos{
        @include flex;
        align-items: center;
        .logo1{
          margin-right: 100px;
          @media(max-width: 1024px){
            margin-right: 50px;
            width: 120px;
           }
           @media(max-width: 767px){
           width: 80px;
           margin-right: 30px;
           }
        }
        .logo2{
          width: 360px;
          @media(max-width: 1024px){
            width: 270px;
           }
           @media(max-width: 767px){
            width: 180px;
           }
        }
      }
      .links{
        @include flex;
        align-items: center;
        margin-left: auto;
        @media(max-width: 1600px){
          margin: 0 auto;
          margin-top: 30px;
        }
        @media(max-width: 767px){
          margin-top: 20px;
         }
        a{
          @include flex;
          align-items: center;
          color: white;
          font-size: 24px;
          font-weight: 300;
          margin-left: 50px;
          @media(max-width: 1600px){
            margin: 0 20px;
          }
          @media(max-width: 1024px){
            font-size: 20px;
           }
           @media(max-width: 767px){
           font-size: 12px;
           margin: 0 6px;
           }
          img{
            margin-right: 20px;
            @media(max-width: 1024px){
              margin-right: 10px;
             }
             @media(max-width: 767px){
              width: 14px;
              margin-right: 5px;
             }
          }
        }
      }
    }
  }
  .footer-img{
    width: 100%;
  }
}

.blue-logo{
  margin: 0 60px;
  @media(max-width: 1300px){
    display: none;
   }
}

.tab-wrapper{
  background: url(../img/tab-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-top: 60px;
  overflow: hidden;
  padding-bottom: 100px;
  @media(max-width: 1300px){
    padding-bottom: 60px;
   }
  .tabs{
    text-align: center;
  }
}

.tabs__buttons {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  border-radius: 100px;
  background: #9DE7F8;
  margin-bottom: 110px;
  @media(max-width: 1600px){
    margin-bottom: 60px;
   }
   @media(max-width: 767px){
   margin-bottom: 30px;
   }
  button{
    padding: 22px 34px;
    border-radius: 100px;
    font-size: 28px;
    font-weight: 500;
    color: #1992B1;
    @media(max-width: 1024px){
      font-size: 22px;
     }
     @media(max-width: 767px){
      font-size: 12px;
      padding: 12px;
     }
  }
}

.tab-btn.active {
  background: #fff;
  color: #1992B1;
}

.tabs__content {
  position: relative;
}

.swiper-button-next, .swiper-button-prev{
  @media(max-width: 767px){
    width: 16px;
   }
}

.tab {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .4s ease, transform .4s ease;
  position: absolute;
  width: 100%;
  pointer-events: none;
  h2{
    color: white;
    max-width: 780px;
    width: 100%;
    margin: 0 auto 80px;
    font-size: 100px;
    font-family: 'Coolvetica', sans-serif;
    font-weight: 600;
    @media(max-width: 1600px){
     font-size: 80px;
     margin-bottom: 50px;
     }
     @media(max-width: 1300px){
     font-size: 60px;
     }
     @media(max-width: 767px){
      font-size: 34px;
      margin-bottom: 30px;
     }
  }
  p{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto 20px;
    color: white;
    font-size: 26px;
    @media(max-width: 1600px){
      font-size: 24px;
     }
     @media(max-width: 767px){
      font-size: 16px;
     }
  }
  .info-list{
    max-width: 1080px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1600px){
      margin: 80px auto;
     }
     @media(max-width: 767px){
      margin: 40px auto;
     }
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon{
        width: 160px;
        height: 160px;
        background: white;
        display: flex;
        margin-bottom: 15px;
        border-radius: 40px;
        @media(max-width: 1600px){
          width: 130px;
          height: 130px;
         }
         @media(max-width: 1024px){
          width: 100px;
          height: 100px;
         }
         @media(max-width: 767px){
          width: 50px;
          height: 50px;
         }
        img{
          margin: auto;
          @media(max-width: 1600px){
            width: 70px;
           }
           @media(max-width: 1024px){
           width: 50px;
           }
           @media(max-width: 767px){
            width: 25px;
           }
        }
      }
      .text{
        max-width: 160px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-size: 26px;
        font-family: 'Coolvetica', sans-serif;
        font-weight: 600;
        @media(max-width: 1024px){
          font-size: 20px;
         }
         @media(max-width: 767px){
          font-size: 12px;
         }
      }
    }
  }
  .wrap{
    border-radius: 30px;
    padding: 40px;
    background: white;
    @media(max-width: 767px){
      padding: 15px;
     }
  }
}

.div{
  height: 1500px;
  @media(max-width: 1700px){
    height: 70vw;
   }
   @media(max-width: 767px){
    height: 100vw;
   }
}

.tab.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
  pointer-events: auto;
}

.swiper{
  margin-bottom: 100px;
  @media(max-width: 1300px){
    margin-bottom: 50px;
   }
   @media(max-width: 767px){
    margin-bottom: 30px;
   }
}

.tour{
  b{
    font-size: 100px;
    color: #1992B1;
    margin-bottom: 20px;
    font-family: 'Coolvetica', sans-serif;
    display: block;
    text-align: left;
    @media(max-width: 1600px){
      font-size: 80px;
     }
     @media(max-width: 767px){
      font-size: 50px;
     }
  }
  .tour-info{
    height: 1000px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.38);
    @media(max-width: 1700px){
      height: 50vw;
     }
     @media(max-width: 767px){
      height: 60vw;
     }
  }
}

#map{
  height: 1200px;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 100px;
  @media(max-width: 1700px){
    height: 50vw;
    margin-bottom: 80px;
   }
   @media(max-width: 767px){
    height: 70vw;
    margin-bottom: 30px;
   }
}

.swiper-pagination-bullet{
  background: white;
}

.swiper-slide{
  display: flex;
  border-radius: 30px;
  height: 1210px;
  @media(max-width: 1700px){
    height: 60vw;
   }
   @media(max-width: 767px){
    height: 65vw;
   }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

.inf{
  margin-bottom: 30px;
  > b{
    display: block;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: normal;
    font-family: 'Coolvetica', sans-serif;
    margin-bottom: 15px;
    @media(max-width: 767px){
      font-size: 22px;
     }
  }
  .inf-item{
    display: flex;
    align-items: center;
    background: #BBEAF4;
    border-radius: 40px;
    ul{
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
      li{
        font-size: 50px;
        font-weight: 300;
        color: #1992B1;
        @media(max-width: 1600px){
          font-size: 40px;
         }
         @media(max-width: 1024px){
          font-size: 30px;
         }
         @media(max-width: 767px){
          font-size: 20px;
         }
         
      }
    }
    .icon{
      border-radius: 40px;
      background: white;
      @include flex;
      width: 150px;
      height: 150px;
      border-radius: 30px;
      @media(max-width: 1600px){
        width: 130px;
        height: 130px;
       }
       @media(max-width: 1024px){
        width: 100px;
        height: 100px;
       }
       @media(max-width: 767px){
        width: 50px;
        height: 50px;
       }
      img{
        margin: auto;
        @media(max-width: 1600px){
          width: 70px;
         }
         @media(max-width: 1024px){
          width: 50px;
         }
         @media(max-width: 767px){
          width: 25px;
         }
      }
    }
  }
}

.inf-items{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 70px 0;
  @media(max-width: 767px){
    margin: 30px 0;
    grid-template-columns: 1fr;
   }
  .inf-item{
    display: flex;
    align-items: center;
    background: #BBEAF4;
    border-radius: 40px;
    .blue-text{
      max-width: 290px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      color: #1992B1;
      font-size: 30px;
      font-weight: 300;
      @media(max-width: 1024px){
        font-size: 22px;
       }
       @media(max-width: 767px){
        font-size: 18px;
       }
    }
    .icon{
      border-radius: 40px;
      background: white;
      @include flex;
      width: 150px;
      height: 150px;
      border-radius: 30px;
      @media(max-width: 1024px){
        width: 100px;
        min-width: 100px;
        height: 100px;
       }
       @media(max-width: 767px){
        width: 60px;
        height: 60px;
        min-width: 60px;
       }
      img{
        margin: auto;
        @media(max-width: 1024px){
          width: 50px;
         }
         @media(max-width: 767px){
          width: 30px;
         }
      }
    }
  }
}
